
*{
  color: pink;
  /* lzsample/app/YvhSr-5Oaf87oalRB0F7J1/entry.js */

  
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    flex-direction: column;
}
    
.date{
    font-size: 30px;
}
